# Project exclude paths
/.gradle/
/.idea/
/annotations/build/
/annotations/build/classes/kotlin/main/
/compiler/build/
/compiler/build/classes/kotlin/main/
/gradle-plugin/build/
/gradle-plugin/build/classes/kotlin/main/
/sample/build/
/sample/build/classes/kotlin/main/
/.kotlin/
/build/

# Local documentation (not for public repo)
/docs-local/
/detekt-rules/build/
